.App-header {
    border-bottom: .18rem solid var(--color-primary-alternative);
    display: flex;
    align-items: center;
    padding-left: .5rem;
    margin: 0 1rem;
}

.App-header img {
    height: 160px;
}

.App-header h1 {
    color: var(--color-primary-alternative);
}