.App-footer {
    /* margin: 0 1rem; */
    border-top: .18rem solid var(--color-primary-alternative);
    font-style: italic;
    text-align: center;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}